body {
  position: relative;
  font-family: sans-serif;
  font-size: 16px;
  /* El tamaño base por defecto de la fuentes en web es 16px*/
  margin: 0;
  background-image: url(img/Fondo2.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

button {
  font: inherit;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

main {
  padding-top: 12rem; /* 12 * 16px */
  padding-bottom: 12rem; /* 12 * 16px */
  font-size: 21px;
}

main > * + * {
  margin-top: 2rem;
}

.titulo-principal {
  text-transform: uppercase;
}

.titulo-principal,
.titulo-descripcion {
  color: white;
  text-align: center;
}

.buscador-fecha {
  display: flex;
  justify-content: space-between;
  width: 60rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.buscador-fecha > * {
  display: block;
  background-color: #dfdcdc;
}

.buscador-fecha input {
  padding: 0.5rem;
  font: inherit;
}

.botones {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 15rem;
}

.btn-restaurantes,
.btn-patios {
  padding: 1rem 2rem;
  border: none;
  text-transform: uppercase;
  background-color: #dfdcdc;
  border-radius: 20px;
  cursor: pointer;
}

.btn-mapas,
.buscador {
  border-radius: 999px;
}

.btn-mapas {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}

.distritos-ubicaciones {
  display: flex;
  gap: 3.75rem;
  max-height: 50rem;

  margin-left: auto;
  margin-right: auto;
  width: 1220px;
  max-width: 90%;
}

.distritos,
.ubicaciones {
  padding: 20px;
  border-radius: 20px;
  background-color: hsl(0, 4%, 87%, 0.75);
}

.distritos {
  display: grid;
  gap: 1rem;
  flex-basis: 30%;
  overflow-y: scroll;
}

.distritos::-webkit-scrollbar {
  display: none;
}

.distrito {
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  font-size: 21px;
}

.ubicaciones {
  flex-basis: 70%;
  overflow-y: scroll;
}

.ubicaciones::-webkit-scrollbar {
  display: none;
}

.ubicaciones > * + * {
  margin-top: 1rem;
}

.ubicacion {
  background-color: #d9d9d9;
  border-radius: 20px;
  font-size: 21px;
  padding: 1rem;
}

.ubicacion a {
  display: block;
  margin-left: auto;
  width: max-content;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #018e50;
}

.delivery-img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* div {
    display: flex;
    text-align: center;
} */

/* .PatiosdeComida {
  background-repeat: no-repeat;
  background-position: 0cqmin;
  background-size: contain;
  position: relative;
  background-image: url("Imagenes/Patios_de_comida.png");
  width: 280px;
  height: 120px;
  text-align: center;
  padding: 0 10px;
  font-size: 20px;
  color: black;
  border-radius: 30px;
} */

.container {
  display: flex;
  justify-content: center;
}

.contenedor {
  display: flex;
  justify-content: center;
  gap: 200px;
}

/* .scroll-container {
  width: 330px;
  height: 500px;
  overflow: scroll;
  scroll-behavior: smooth;
  border-radius: 30px;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container1 {
  width: 440px;
  height: 500px;
  overflow: scroll;
  scroll-behavior: smooth;
  border-radius: 30px;
}

.scroll-container1::-webkit-scrollbar {
  display: none;
} */

/*PIE DE PAGINA */
.piedepagina {
  padding: 35px 60px;
  background: #d9d9d9;
  mix-blend-mode: hard-light;
  opacity: 10;
}

.piedepagina-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
}
.piedepagina-copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-link {
  color: black;
  text-decoration: none;
}

.links {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-item {
  margin-left: 1rem;
  display: inline-block;
}

.nav-link {
  text-decoration: none;
  color: yellow;
}

.redes-sociales {
  display: flex;
  justify-content: center;
}

.redes-sociales a {
  color: black;
  /* Color del icono */
  font-size: 24px;
  /* Tamaño del icono */
  margin-right: 10px;
  /* Espacio entre iconos */
}

.redes-sociales a:last-child {
  margin-right: 0;
}
