@font-face {
  font-family: slackey;
  src: url(font/Slackey/Slackey-Regular.ttf);
}

@font-face {
  font-family: SofadiOne;
  src: url(font/SofadiOne/SofadiOne-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(font/Poppins/Poppins-Bold.ttf);
}

body {
  position: relative;
  font-family: sans-serif;
  font-size: 16px;
  /* El tamaño base por defecto de la fuentes en web es 16px*/
  margin: 0;
  background-image: url("imagenes/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
}

.vid-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

input,
button {
  border-radius: 999px;
}

.bgvid.back {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.inner {
  position: absolute;
}

.inner-container {
  border-radius: 20px;
  width: 400px;
  height: 450px;
  overflow: hidden;
}

.box {
  background-color: hsl(0 0% 100% / 0.9);
  height: 100%;
  width: 100%;
  font-family: Helvetica;
  color: black;
  padding: 30px 0px;
}

.box h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 30px;
}

.box input {
  display: block;
  width: 300px;
  margin: 20px auto;
  padding: 15px;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border: 0;
}

.box input:focus,
.box input:active,
.box button:focus,
.box button:active {
  outline: none;
}

.box button {
  background: #acbb02;
  border: 0;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  width: 330px;
  margin: 20px auto;
  display: block;
  cursor: pointer;
}

.box button:active {
  background: #27ae60;
}

.box p {
  font-size: 14px;
  text-align: center;
}

.box p span {
  cursor: pointer;
  color: #666;
}

.login-icon {
  font-size: 70px;
  text-align: center;
  display: block;
  margin-bottom: 5px;
}

.login-container {
  text-align: center;

}

.piedepagina {
  padding: 35px 60px;
  background: #d9d9d9;
  mix-blend-mode: hard-light;
  opacity: 10;
}

.piedepagina-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
}

.piedepagina-copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-item {
  margin-left: 1rem;
  display: inline-block;
}

.nav-link {
  text-decoration: none;
  color: yellow;
}

.redes-sociales {
  display: flex;
  justify-content: center;
}

.redes-sociales a {
  color: black;
  /* Color del icono */
  font-size: 24px;
  /* Tamaño del icono */
  margin-right: 10px;
  /* Espacio entre iconos */
}

.redes-sociales a:last-child {
  margin-right: 0;
}